<launch>
    <!-- Use calibration file only with the real robot -->
    <arg name="simulation" default="false"/>
    <arg if="$(arg simulation)" name="calib_file" value="false"/>
    <arg unless="$(arg simulation)" name="calib_file" value="true"/>

    <include file="$(find ca_visual_odometry)/launch/cam_mapping.launch">
      <arg name="calibrated" value="$(arg calib_file)"/>
    </include>

    <!-- Image rectifying -->
    <node ns="raspicam" pkg="image_proc" type="image_proc" name="image_rect"/>

    <!-- Monocular odometry -->
    <node pkg="viso2_ros" type="mono_odometer" name="visual_odometry" args="image:=/raspicam/image_rect">
      <param name="odom_frame_id" value="viso_odom"/>
      <param name="base_link_frame_id" value="base_footprint"/>
      <param name="sensor_frame_id" value="raspicam_link"/>
      <!-- <param name="~ref_frame_change_method" value="2"/>
      <param name="~refinement" value="2"/> -->
      <param name="~camera_height" value="0.1" />
		  <param name="~camera_pitch" value="0" />
    </node>

    <!-- RViz -->
    <arg name="rviz" default="false"/>
    <include if="$(arg rviz)" file="$(find ca_tools)/launch/rviz.launch"/>
</launch>
