<launch>
	<arg name="x_pos" default="0.0"/>
	<arg name="y_pos" default="0.0"/>
	<arg name="z_pos" default="0.0"/>

	<arg name="paused" default="false"/>
	<arg name="gui" default="true"/>
	<arg name="debug" default="false"/>

	<arg name="visualize" default="false"/>
	<arg name="rviz" default="false"/>
	<arg name="gpu" default="false"/>

    <include file="$(find ca_gazebo)/launch/create_empty_world.launch">
		<arg name="gui" value="$(arg gui)" />
		<arg name="gpu" value="$(arg gpu)"/>
		<arg name="debug" value="$(arg debug)"/>
		<arg name="paused" value="$(arg paused)"/>
		<arg name="visualize" value="$(arg visualize)"/>
		<arg name="world_file" value="$(find ca_gazebo)/worlds/stage_1.world"/>
		<arg name="x_pos" value="$(arg x_pos)"/>
		<arg name="y_pos" value="$(arg y_pos)"/>
		<arg name="z_pos" value="$(arg z_pos)"/>
    </include>
</launch>
